.page-item {
    &.active .page-link {
        background: $success;
        border-color: $success;
    }

    .page-link {
        color: $success;
        &:hover {
            color: $green-500;        ;
        }
    }

    &:first-child .page-link {
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }

    &:last-child .page-link {
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
}

