{% extends 'base.html.twig' %}

{% block title %}Edit Log{% endblock %}

{% block body %}
    <h1>Edit User</h1>
    {{ include('ldap_user/_partials/_form.html.twig') }}
    <a href="{{ path('ldap_user.index') }}">back to list</a>
    {{ include('ldap_user/_partials/_delete_form.html.twig') }}
{% endblock %}
